<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/placeholder_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/placeholder_icon_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Fruvemex"
        tools:targetApi="31">
        <activity
            android:name=".HelpAndSupportActivity"
            android:exported="false" />
        <activity
            android:name=".AboutFruvemexActivity"
            android:exported="false" />
        <activity
            android:name=".AccountSettingsActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ConfigurationActivity"
            android:exported="false" />
        <activity
            android:name=".RemoveContentActivity"
            android:exported="false" />
        <activity
            android:name=".AddContentActivity"
            android:exported="false" />
        <activity
            android:name=".FavoritesActivity"
            android:exported="false" />
        <activity
            android:name=".UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".PdfViewerActivity"
            android:exported="false" />
        <activity
            android:name=".DocumentDetailActivity"
            android:exported="false" />
        <activity
            android:name=".DocumentsActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>